body{
    background-color: #A0522D;
    color: white;
    font-family: "Playpen Sans", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0;
    padding-top: 10%;
    padding-bottom: 20%;

}

button{
    background-color: 	#F5F5DC;
    font-family: "Playpen Sans", cursive;
   
}

.passo {
    display:none;

}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 80%;
}
